<div class="login-container">
  <form>
    <h2>Login</h2>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required [(ngModel)]="username">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required [(ngModel)]="password">
    <button type="submit" (click)="onSubmit()">Login</button>
    <div class="create-account">
      <p>Don't have an account?</p>
      <a routerLink="/register">Create an account</a>
    </div>
  </form>
</div>
