<img class="image" src="ncf_collegehall.jpg" alt="NCF College Hall">
<h1>Welcome to NuPath!</h1>
<p>
    NuPath is the perfect tool for incoming students to NovoLand! 
    Our platform connects NuNovos on their journey to NovoLand, allowing them to meet and greet each other before they start classes in the Fall.
    Please come and check out Novoland's official 
    <a href="https://www.ncf.edu/admissions/admitted-students/orientation/">Orientation page!</a>
</p>


<!--
<div>
    <a routerLink = "/facilities">
        <img src=”nuPath/src/app/home-page/map.webp”>
    </a>
</div>
-->

