/* 
    refs:
    https://www.w3schools.com/css/css3_flexbox_container.asp
*/

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

button{
    text-align: center;
    /*color: x;*/
}