<div class="register-form">
    <h1>Create an Account</h1>
    <form (ngSubmit)="onSubmit()">

        <label>Username:
            <input type="username" name="username" [(ngModel)]="username" required>
        </label>
        <br><br>
        
        <label>Display Name:
            <input type="text" name="displayName" [(ngModel)]="displayName" required>
        </label>
        <br><br>

        <label>Email:
            <input type="email" name="email" [(ngModel)]="email" required>
        </label>
        <br><br>

        <label>Password:
            <input type="password" name="password" [(ngModel)]="password" required>
        </label>
        <br><br>

        <label>Confirm Password:
            <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" required>
        </label>
        <br><br>

        <button type="submit">Register</button>

        <br><br>
        <div class="login">
            <p>Already have an account?</p>
            <a routerLink="/login">Log in</a>
          </div>
    </form>
    <p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>
  </div>

  