<nav>
    <ul>
      <li class="nav-item"><a routerLink="/dorms" routerLinkActive="selected">Dorms</a></li>
      <li class="nav-item"><a routerLink="/packinglist" routerLinkActive="selected">Packing List</a></li>
  
      <li class="nav-item"><a routerLink="/facilities" routerLinkActive="selected">Facilities</a></li>
  
      <li class="nav-item"><a href="https://www.metznewcollege.com/cafe.html" target="_blank">Ham</a></li>
      <li class="nav-item"><a href="https://www.ncf.edu/directory/" target="_blank">Faculty</a></li>
      <li class="nav-item"><a href="https://novoconnect.ncf.edu/" target="_blank">Clubs</a></li>
    </ul>
</nav>