h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}



.flex-row{
    justify-content: space-around;
}

/* Table formatting */
table {
    margin-left: auto;
    margin-right:auto;
}

td{
    padding: 5px 10px 5px 10px;
}

/* alternating colors*/
.row-header{
    background-color: var(--lightblue);
}

.row-odd{
    background-color: white;
}

.row-even{
    background-color: lightgray;
}