<!-- 
    dorm refs:
    https://www.ncf.edu/life-at-new/where-to-live/residence-halls/
    https://www.ncf.edu/life-at-new/where-to-live/residence-halls/housing-fees/
-->

<h1>First Year Student Housing</h1>

<!-- Pei -->
<!-- description -->
<h2>I.M. Pei Residence Halls</h2>
<p>
    Most first-year students are required to live in the Pei Residential Complex. 
    These three buildings, which were designed by the internationally renowned architect 
    I.M. Pei and formally named Bob Johnson Hall, Peggy Bates Hall, and Elaine & Harvey Rothenberg Hall, 
    are often referred to as Pei 1st Court, 2nd Court, and 3rd Court.
    <br>
    The Pei residence halls accommodate more than 250 students in double and triple occupancy rooms, 
    each with its own private bathroom. Community kitchen lounges are located in 2nd Court and 3rd Court. 
    A shared laundry room is located in 2nd Court. The outdoor Palm Court around which the rooms are 
    grouped is a focus of New College student life. Pei rooms measure approximately 15' x 15' and some 
    feature covered porches or large balconies. The buildings' clustered construction, communal spaces 
    and orientation around Palm Court afford residents a strong sense of community.
    <br>
    Pei is home to the Civitas Living Learning Community
</p>
<br>
<h3>Housing Fees</h3>
<table>
    <!-- header row -->
    <tr>
        <td>Room Type</td>
        <td>Fall & January Term</td>
        <td>Spring Term</td>
        <td>Total</td>
    </tr>

    <!-- Studio Single prices -->
    <tr>
        <td>Studio Single</td>
        <td>$5,754.00</td>
        <td>$4,746.00</td>
        <td>$10,500.00</td>
    </tr>

    <!-- Double prices -->
    <tr>
        <td>Double</td>
        <td>$3,836.00</td>
        <td>$3,164.00</td>
        <td>$7,000.00</td>
    </tr>
</table>
<br>
<div class="flex-row">
    <!-- google maps PEI location -->
    <iframe class="minimap"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d795.461989849599!2d-82.5566329909264!3d27.38391450131667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd988a590e9%3A0x3ea0fcae7616b5b4!2sNew%20College%20of%20Florida%20-%20Pei%20Residence%20Hall%20-%201st%20Court!5e0!3m2!1sen!2sus!4v1678196752087!5m2!1sen!2sus" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" r
        eferrerpolicy="no-referrer-when-downgrade">
    </iframe>
    
    <!-- youtube tour -->
    <iframe class="yt-viewer"
        src="https://www.youtube.com/embed/T_y-qA98WrI" 
        title="PEI Dorm" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen>
    </iframe>
</div>

<br>

<h1>Apartment-Style Residence Halls</h1>

<!-- Dort & Goldstein -->
<!-- description -->
<h2>Dort and Goldstein Residence Halls</h2>
<p>
    The Dallas & Elizabeth Dort and Ann & Alfred Goldstein Residence Halls provide accommodations 
    for approximately 150 students in apartment-style suites, each including its own living room, 
    kitchenette and bathroom facilities. The Dort and Goldstein Residence Halls are located near the 
    Recreation Center on the Pei Campus. The apartment bedrooms in this area are 
    approximately 12' x 9' and are either three or four bedrooms.
</p>
<br>
<h3>Housing Fees</h3>
<table>
    <!-- header row -->
    <tr>
        <td>Room Type</td>
        <td>Fall & January Term</td>
        <td>Spring Term</td>
        <td>Total</td>
    </tr>

    <!-- Single prices -->
    <tr>
        <td>Single</td>
        <td>$5,326.56</td>
        <td>$4,393.44</td>
        <td>$9,720.00</td>
    </tr>
</table>
<br>
<div class="flex-row">
    <!-- google maps Goldstein location -->
    <iframe class="minimap"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d885.6809575894827!2d-82.55552425465433!3d27.384339061373186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fda46db134b%3A0x92941d0da19169db!2sNew%20College%20of%20Florida%20Goldstein%20Residence%20Hall!5e0!3m2!1sen!2sus!4v1678208677692!5m2!1sen!2sus" 
        style="border:0;" 
        allowfullscreen="" loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    
    <!-- youtube tour -->
    <iframe class="yt-viewer"
        src="https://www.youtube.com/embed/7RYefuH3laI" 
        title="Dort & Goldstein dorms" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen>
    </iframe>
</div>
<br>

<h1>Lodge-Style Residence Halls</h1>

<!-- Letter dorms -->
<!-- description -->
<h2>The Letter Dorms</h2>

<!-- letter dorms: V, W, X, & Y -->
<h3>V, Peterson (W), Searing (X), and Y Residence Halls</h3>
<p>
    The Lee & Bob Peterson Residence Hall (W), Ulla R. Searing Residence Hall (X), and the V and Y 
    residence halls are lodge-style structures that feature studio, two- and three-bedroom apartments, 
    each with its own kitchenette and bathroom. The halls feature a dramatic two-story floor plan with 
    central common areas, timbered ceilings, and a keyless entry system. These side-by-side residence halls 
    are sometimes called “Letter Dorms” because they were originally designated as V, W, X, and Y Dorms 
    before two were officially named. The apartment bedroom sizes are approximately 12' x 9'.
    <br>
    V, W, X and Y dorms are home to the Pride, Health & Wellness, Global Village, Performing Arts.
</p>
<br>
<h3>Housing Fees</h3>
<table>
    <!-- header row -->
    <tr>
        <td>Room Type</td>
        <td>Fall & January Term</td>
        <td>Spring Term</td>
        <td>Total</td>
    </tr>

    <!-- Standard prices -->
    <tr>
        <td>Standard</td>
        <td>$4,932.00</td>
        <td>$4,068.00</td>
        <td>$9,000.00</td>
    </tr>
</table>
<br>
<div class="flex-row">
    <!-- google maps Y dorm location -->
    <iframe class="minimap"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1771.3558888377574!2d-82.55655154072221!3d27.38471536044635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fda3e7260b9%3A0xa574571c61a5ae00!2sNew%20College%20of%20Florida%20Y%20Residence%20Hall!5e0!3m2!1sen!2sus!4v1678324758534!5m2!1sen!2sus" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    
    <!-- youtube tour -->
    <iframe class="yt-viewer" 
        src="https://www.youtube.com/embed/s2z2N1FHKAI" 
        title="Y dorm" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen>
    </iframe>
</div>
<br>

<!-- letter dorms: Z -->
<h3>Pritzker Residence Hall (Z-dorm)</h3>
<p>
    The Rhoda Pritzker Residence Hall, commonly referred to as Z Dorm because of its alphabetical 
    designation in the original architectural plan, offers urban-style apartment accommodations. 
    Each apartment includes its own eat-in kitchen, common area, and a suite bathroom. Common spaces 
    include an open-air lounge and amphitheater, as well as the popular outdoor space known as Z-Green.
    <br>
    The Writing, Sustainability, and Outdoor Adventure Living Learning Communities are located in Pritzker Hall.
</p>
<br>
<h3>Housing Fees</h3>
<table>
    <!-- header row -->
    <tr>
        <td>Room Type</td>
        <td>Fall & January Term</td>
        <td>Spring Term</td>
        <td>Total</td>
    </tr>

    <!-- Standard prices -->
    <tr>
        <td>Standard</td>
        <td>$4,932.00</td>
        <td>$4,068.00</td>
        <td>$9,000.00</td>
    </tr>
</table>
<br>
<div class="flex-row">
    <!-- google maps Z dorm location -->
    <iframe class="minimap"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1771.3529137879616!2d-82.55799993359024!3d27.38490112786989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd98a52b975%3A0xe5ce45bcfa001e2b!2sNew%20College%20of%20Florida%20Z-Green%20in%20front%20of%20Pritzker%20Residence%20Hall!5e0!3m2!1sen!2sus!4v1678325331530!5m2!1sen!2sus" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    
    <!-- youtube tour -->
    <iframe class="yt-viewer" 
        src="https://www.youtube.com/embed/M1AScqU0kVg" 
        title="Z dorm" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen>
    </iframe>
</div>
<br>

<!-- Palmer B -->
<!-- description -->
<h2>Palmer B</h2>

<p>
    Located on our historic Bayfront campus, Palmer B Dormitory, which is usually referenced as “B Dorm”, 
    houses 32 students in single bedrooms with common lounges and bathrooms. Because of its somewhat 
    secluded location on campus, B Dorm is popular among thesis students and is known for the community 
    spirit that develops among its residents. Bedrooms come in two sizes: approximately 12' x 8' and 
    16' x 12'.
</p>
<br>
<h3>Housing Fees</h3>
<table>
    <!-- header row -->
    <tr>
        <td>Room Type</td>
        <td>Fall & January Term</td>
        <td>Spring Term</td>
        <td>Total</td>
    </tr>

    <!-- Double prices -->
    <tr>
        <td>Double</td>
        <td>$3,668.86</td>
        <td>$3,026.14</td>
        <td>$6,695.00</td>
    </tr>

    <!-- Preferred Single prices -->
    <tr>
        <td>Preferred Single</td>
        <td>$4,260.70</td>
        <td>$3,514.30</td>
        <td>$7,775.00</td>
    </tr>

    <!-- Single/Standard prices -->
    <tr>
        <td>Single/Standard</td>
        <td>$3,964.78</td>
        <td>$3,270.22</td>
        <td>$7,235.00</td>
    </tr>
</table>
<br>
<div class="flex-row">
    <!-- google maps B dorm location -->
    <iframe class="minimap"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d885.6801047986448!2d-82.56051715546997!3d27.38444556243242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd849210c85%3A0x1e2bbad5797d697!2s557%2058th%20St%2C%20Sarasota%2C%20FL%2034234!5e0!3m2!1sen!2sus!4v1678326403959!5m2!1sen!2sus" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    
    <!-- youtube tour -->
    <iframe class="yt-viewer"
        src="https://www.youtube.com/embed/JcNE9YrMsBM" 
        title="B dorm" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen>
    </iframe>
</div>

<br>

<!-- housing & reslife contact info -->
<h1>Housing & Residential Life</h1>
<p><b>Contact</b></p>
<p>
        Phone Number<br>
        (941)487-4259<br>
        <br>
        Email Address<br>
        <a href="mailto: Housing-ResLife@ncf.edu">Housing-ResLife@ncf.edu</a><br>
        <br>
        Office<br>
        Hamilton Classroom 001
</p>
