/* 
    refs:
    https://www.w3schools.com/css/css3_flexbox_container.asp
*/

footer{
    background-color: lightgray;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
}

@media only screen and (max-width: 800px){
    /* if browser window <= 800px then change to column view */
    footer{
        flex-direction: column;
    }
}

.footer-item{
    padding: 2%;
}

.icon{
    width: 16px; 
    height: 16px;
    
    padding-left: 5px;
    padding-right: 5px;
}