<footer>
    <!-- column 1 -->
    <div class="footer-item">
        <h1>New College of Florida</h1>
        <p>
            5800 Bay Shore Road, Sarasota, FL 34243<br>
            (941)487-5000<br>
            (insert social media links)
        </p>

    </div>

    <!-- column 2 -->
    <div class="footer-item">
        <h1>Contact</h1>
        <a href="https://www.ncf.edu/directory/" target="_blank">Faculty</a>
    </div>

    <!-- column 3 -->
    <div class="footer-item">

    </div>
</footer>