/* 
    refs:
    https://www.w3schools.com/css/css3_flexbox_container.asp
*/
a:link {
    color: white;
}

a:hover {
    color: var(--yellow);
}

a:visited{
    color: var(--green);
}

footer{
    background-color: var(--blue);
    color: white;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    margin-top: 2%;

    justify-content: space-between;
    align-content: space-between;
}

.footer-left, .footer-center, .footer-right{
    padding: 10px;
    margin: 0% 5% 0% 5%; /* top right bottom left */
}

.icon{
    width: 25px; 
    height: 25px;
    
    padding-left: 5px;
    padding-right: 5px;
}

@media only screen and (max-width: 800px){
    /* if browser window <= 800px then change to column view */
    footer{
        flex-direction: column;
    }
}