.container {
    display: flex;
    flex-wrap: wrap;
}

.catalyst-iframe {
    width: 100%;
    height: 50vh;
}

.notes-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notes-textbox {
    width: 99%;
    height: 40vh;
    resize: none;
}

.save-notes {
    align-self: flex-end;
}

@media only screen and (min-width: 768px) {
    /* for screens larger than 768px */
    .catalyst-iframe {
        width: 55%;
        height: 95vh;
    }

    .notes-wrapper {
        width: 44%;
    }

    .notes-textbox {
        width: 99%;
        height: 91vh;
        resize: none;
    }
}
