<nav>
  <ul>
    <li class="nav-item"><a routerLink="/home">Home</a></li>
    <li class="nav-item"><a routerLink="/catalyst">Catalyst</a></li>
    <li class="nav-item"><a routerLink="/leaderboard">Leaderboard</a></li>
    <li class="nav-item"><a routerLink="/nulife">NuLife</a></li>
    <li class="nav-item"><a routerLink="/calendar">Calendar</a></li>
    <li class="nav-item"><a routerLink="/nearnovoland">Near Novoland</a></li>
    <li class="nav-item"><a routerLink="/socials">Socials</a></li>
    <li class="nav-item"><a routerLink="/academic">Academic</a></li>
  </ul>
</nav>