<nav>
  <ul>
    <li class="nav-item" [ngClass]="{ active: activeLink === 'home' }"><a routerLink="/home">Home</a></li>
    <li class="nav-item dropdown" [class.show]="showDropdown" (click)="toggleDropdown()" [ngClass]="{ active: activeLink === 'nulife' || activeLink ==='nearnovoland'}">
      <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Novoland</a>
      <ul class="dropdown-menu">
        <li><a routerLink="/nulife">nuLife</a></li>
        <li><a routerLink="/nearnovoland">Near Novoland</a></li>
      </ul>
    </li>
    <li class="nav-item" [ngClass]="{ active: activeLink === 'leaderboard' }"><a routerLink="/leaderboard">Leaderboard</a></li>
    <li class="nav-item" [ngClass]="{ active: activeLink === 'catalyst' }"><a routerLink="/catalyst">Catalyst</a></li>
    <li class="nav-item" [ngClass]="{ active: activeLink === 'calendar' }"><a routerLink="/calendar">Calendar</a></li>
    <li class="nav-item" style="float:right;" [ngClass]="{ active: activeLink === 'profile' }"><a routerLink="/profile">Profile</a></li>
  </ul>
</nav>
