<div class="profile-container">
  <div class="profile-picture">
    <img [src]="getProfilePicture()" alt="Profile Picture">
  </div>
  <div class="profile-details">
    <h2 class="display-name">{{ displayName }}</h2>
    <p class="contact-information">Contact Information: {{ contactInformation }}</p>
    <h3>Interests</h3>
    <p class="interests">{{ interests }}</p>
    <h3>About Me</h3>
    <p class="about-me">{{ aboutMe }}</p>
  </div>
  <div class="canvas-container">
    <app-canvas></app-canvas>
  </div>
</div>

  