<h1>Campus Facilities</h1>

<!-- Ham -->
<div>
    <h2>Hamilton Cafe</h2>
    <p>
        (insert description)    <!-- TODO: add description -->
    </p>

    <div class="flex-row">
        <!-- open weekly menu in a separate tab -->
        <a mat-raised-button href="https://www.nutritics.com/menu/ma4021" target="_blank">
            View Weekly Menu
        </a>
        <!-- open meal plan options in a separate tab -->
        <a mat-raised-button href="https://www.ncf.edu/life-at-new/where-to-eat/" target="_blank">
            View Meal Plans
        </a>
    </div>

    <h4>Contact</h4>
    (941)487-4270<br>
    <a href="mailto: food-group@ncf.edu">food-group@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    <iframe class="minimap"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.707484940042!2d-82.55745791031985!3d27.38484938359842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fda1838b2d5%3A0x82baa68f8545765e!2sNew%20College%20of%20Florida%20Cafeteria!5e0!3m2!1sen!2sus!4v1678811875341!5m2!1sen!2sus" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>

<!-- Library -->
<div>
    <!-- https://www.ncf.edu/library/ -->
    <h2>Jane Bancroft Cook Library</h2>

    <h4>Contact</h4>
    (941)487-4305<br>
    <a href="mailto: library@ncf.edu">library@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    <iframe class="minimap"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.7084003405907!2d-82.56088040942814!3d27.384820804001556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd757865b2f%3A0xc9e754516a0e1898!2sJane%20Bancroft%20Cook%20Library!5e0!3m2!1sen!2sus!4v1678494508373!5m2!1sen!2sus" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>

    <!-- https://www.ncf.edu/ceo/ -->
    <h3>Career Engagement & Opportunity (CEO)</h3>
    <h4>Contact</h4>
    (941)487-5002<br>
    <a href="mailto: ceo@ncf.edu">ceo@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    Library

    <!-- https://www.ncf.edu/departments/quantitative-resource-center/ -->
    <h3>Quantitative Resource Center (QRC)</h3>
    <h4>Contact</h4>
    (941)487-4742<br>
    <a href="mailto: qrc@ncf.edu">qrc@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    Library 119

    <!-- https://www.ncf.edu/academics/writing-program/writing-resource-center/ -->
    <h3>Writing Resource Center (WRC)</h3>
    <h4>Contact</h4>
    (941)487-4506<br>
    <a href="mailto: writing@ncf.edu">writing@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    Library 103
</div>

<!-- Campus Bookstore -->
<div>
    <!-- https://www.ncf.edu/departments/new-college-bookstore/ -->
    <h2>Campus Bookstore</h2>
    <p>
        The New College Bookstore is a one-stop-shop for textbooks and merchandise. It is shared with the
        University of South Florida - Sarasota Manatee, and a short walk from the NCF campus.
    </p>

    <div class="flex-row">
        <!-- open bookstore in separate tab -->
        <a mat-raised-button href="https://www.bkstr.com/usfstore" target="_blank">
            Order Textbooks
        </a>
        <!-- open merchandise store in separate tab -->
        <a mat-raised-button href="https://shopncf.merchorders.com" target="_blank">
            Shop Merchandise
        </a>
    </div>

    <h4>Store Hours</h4>
    <p>
        Mon - Thurs: 9am-5pm<br>
        Fri: 9am-3pm<br>
        Sat & Sun: Closed
    </p>

    <h4>Contact</h4>
    (941)355-5252<br>
    <a href="mainto: mailroom@ncf.edu">mailroom@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    <iframe class="minimap"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.587978831138!2d-82.56165154804158!3d27.388580231398134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd7a6b9f285%3A0xed36ef77216a1239!2s6301%20N%20Tamiami%20Trail%2C%20Sarasota%2C%20FL%2034243!5e0!3m2!1sen!2sus!4v1678728959236!5m2!1sen!2sus" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>

<!-- Palmer Complex -->
<div>
    <h2>Palmer Complex</h2>

    <h3>Environmental Health & Safety</h3>
    <h4>Contact</h4>
    (941)487-4449<br>
    <a href="mainto: yshapiro@ncf.edu">yshapiro@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    Palmer E 222


    <h3>Financial Aid</h3>
    <h4>Contact</h4>
    (941)487-5000<br>
    <a href="mainto: ncfinaid@ncf.edu">ncfinaid@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    Palmer D


    <h3>Information Technology (IT)</h3>
    <h4>Contact</h4>
    (941)487-4350<br>
    <a href="mainto: it@ncf.edu">it@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    Palmer A 231


    <h3>Mail & Postal Services</h3>
    <h4>Contact</h4>
    (941)487-4247<br>
    <a href="mainto: mailroom@ncf.edu">mailroom@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    Palmer A 118


    <h3>Office of the Registrar</h3>
    <h4>Contact</h4>
    (941)487-4230<br>
    <a href="mainto: registrar@ncf.edu">registrar@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    Palmer D


    <h3>Parking Services</h3>
    <h4>Contact</h4>
    (941)487-4626<br>
    <a href="mainto: STARTCenter@ncf.edu">STARTCenter@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    Palmer D

</div>

<!-- Conunseling & Wellness -->
<div>
    <h2>Counseling & Wellness Center</h2>
    <p>
        (insert description)
    </p>

    <h4>Contact</h4>
    (941)487-4254<br>
    <a href="mailto: wellness@ncf.edu">wellness@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    <!-- counseling & wellness center location -->
    <iframe class="minimap"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.697720627485!2d-82.56156705493598!3d27.385154232169526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd835fd0117%3A0x620b1d96ece074ff!2sCounseling%20%26%20Wellness%20Center%20-%20New%20College%20of%20Florida!5e0!3m2!1sen!2sus!4v1678494663043!5m2!1sen!2sus" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>


<!-- Fitness Center -->
<div>
    <h2>Fitness Center</h2>
</div>

<!-- Campus Recreation -->
<div>
    <h2>Campus Recreation</h2>

    <h4>Contact</h4>
    (941)487-4219<br>
    <a href="mailto: recreation@ncf.edu">recreation@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    Caples Boathouse
</div>