<!-- inserted between header/nav bar and footer(if applicable) -->
<div>
    <h1>Campus Facilities</h1>

    <!-- Bayfront Campus -->
    <div>
        <h2>Bayfront Campus</h2>

        <h3>College Hall (Visitor's Center)</h3>

        <!-- visitor's center location -->
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1252.5375606505906!2d-82.56533042984576!3d27.384733043009916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c31562e7b2cafb%3A0x1954f3d1237318fd!2sCollege%20Hall%20-%20New%20College%20Visitors%20Center!5e0!3m2!1sen!2sus!4v1678495032644!5m2!1sen!2sus" 
            width="600" height="450" style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>


        <h3>Robertson Hall & Admissions Welcome Center</h3>

        <!-- admissions welcome center location -->
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.7084003405494!2d-82.56464623088515!3d27.384820804002857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd9b62a5b51%3A0xce7500f89d5a8986!2sRobertson%20Hall%20-%20Admissions%20Offices!5e0!3m2!1sen!2sus!4v1678494765049!5m2!1sen!2sus" 
            width="600" height="450" style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>


        <h3>The Keating Center</h3>

        <!-- keating center location -->
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1252.520930614942!2d-82.56365382821203!3d27.38620154267931!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c31562b3e682b5%3A0xa1731b6ea6a6b349!2sKeating%20Center%20-%20New%20College%20Foundation!5e0!3m2!1sen!2sus!4v1678494861375!5m2!1sen!2sus" 
            width="600" height="450" style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        

        <h3>Four Winds Cafe</h3>
        <h3>The Greenhouse</h3> <!-- remove? -->
        <h3>Palmer Complex</h3>
        <h3>Palmer D / Financial Aid</h3>   <!-- condense into palmer complex? -->


        <h3>Counseling & Wellness Center</h3>

        <!-- counseling & wellness center location -->
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.697720627485!2d-82.56156705493598!3d27.385154232169526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd835fd0117%3A0x620b1d96ece074ff!2sCounseling%20%26%20Wellness%20Center%20-%20New%20College%20of%20Florida!5e0!3m2!1sen!2sus!4v1678494663043!5m2!1sen!2sus" 
            width="600" height="450" style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>

        <h3>Campus Police</h3>

        
        <h3>Jane Bancroft Cook Library / Center for Career Engagement & Opportunity (CEO)</h3>

        <!-- library location -->
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.7084003405907!2d-82.56088040942814!3d27.384820804001556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd757865b2f%3A0xc9e754516a0e1898!2sJane%20Bancroft%20Cook%20Library!5e0!3m2!1sen!2sus!4v1678494508373!5m2!1sen!2sus" 
            width="600" height="450" style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>

        <h3>Campus Bookstore</h3>


        <h3>Heiser Natural Sciences / Chae Auditorium (HNS)</h3>
        <h3>Academic Center (ACE)</h3>
    </div>

    <!-- PEI Campus -->
    <div>
        <h2>PEI Campus</h2>

        <h3>Communications & Marketing</h3> <!-- remove? -->
        <h3>Hamilton Center</h3>
        <h3>Fitness Center</h3>
        <h3>Physical Plant</h3> <!-- remove? -->
    </div>

    <!-- Caples Campus -->
    <div>
        <h2>Caples Campus</h2>
        <h3>Caples Waterfront & Sail Club</h3>
    </div>

</div>