<h1>Campus Facilities</h1>

<!-- Conunseling & Wellness -->
<div>
    <h2>Counseling & Wellness Center</h2>

    <h4>Contact</h4>
    (941)487-4254<br>
    <a href="mailto: wellness@ncf.edu">wellness@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    <!-- counseling & wellness center location -->
    <iframe class="minimap"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.697720627485!2d-82.56156705493598!3d27.385154232169526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd835fd0117%3A0x620b1d96ece074ff!2sCounseling%20%26%20Wellness%20Center%20-%20New%20College%20of%20Florida!5e0!3m2!1sen!2sus!4v1678494663043!5m2!1sen!2sus" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>

<!-- Campus Bookstore -->
<div>
    <h2>Campus Bookstore</h2>

    <h4>Contact</h4>
    (941)355-5252<br>
    <a href="mainto: mailroom@ncf.edu">mailroom@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    <iframe class="minimap"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.587978831138!2d-82.56165154804158!3d27.388580231398134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd7a6b9f285%3A0xed36ef77216a1239!2s6301%20N%20Tamiami%20Trail%2C%20Sarasota%2C%20FL%2034243!5e0!3m2!1sen!2sus!4v1678728959236!5m2!1sen!2sus" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>

<!-- Library -->
<div>
    <h2>Jane Bancroft Cook Library</h2>

    <h4>Contact</h4>
    (941)487-4305<br>
    <a href="mailto: library@ncf.edu">library@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    <!-- library location -->
    <iframe class="minimap"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.7084003405907!2d-82.56088040942814!3d27.384820804001556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd757865b2f%3A0xc9e754516a0e1898!2sJane%20Bancroft%20Cook%20Library!5e0!3m2!1sen!2sus!4v1678494508373!5m2!1sen!2sus" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>

    <h3>Career Engagement & Opportunity (CEO)</h3>
    <h4>Contact</h4>
    (941)487-5002<br>
    <a href="mailto: ceo@ncf.edu">ceo@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    Library

    <h3>Educational Technology Services</h3>
    <h4>Contact</h4>
    (941)487-4306<br>
    <a href="mailto: edtech@ncf.edu">edtech@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    Library 113

    <h3>Office of Research Programs & Services (ORPS)</h3>
    <h4>Contact</h4>
    (941)487-4649<br>
    <a href="mailto: orps@ncf.edu">orps@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    Library

    <h3>Quantitative Resource Center (QRC)</h3>
    <h4>Contact</h4>
    (941)487-4742<br>
    <a href="mailto: qrc@ncf.edu">qrc@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    Library 119

    <h3>Study Abroad & Exchange Programs</h3>
    <h4>Contact</h4>
    (941)487-4318<br>
    <a href="mailto: abroad@ncf.edu">abroad@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    Library 130

    <h3>Writing Programs</h3>
    <h4>Contact</h4>
    (941)487-4506<br>
    <a href="mailto: writing@ncf.edu">writing@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    Library 103
</div>

<!-- Palmer Complex -->
<div>
    <h2>Palmer Complex</h2>

    <h3>Environmental Health & Safety</h3>
    <h4>Contact</h4>
    (941)487-4449<br>
    <a href="mainto: yshapiro@ncf.edu">yshapiro@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    Palmer E 222


    <h3>Financial Aid</h3>
    <h4>Contact</h4>
    (941)487-5000<br>
    <a href="mainto: ncfinaid@ncf.edu">ncfinaid@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    Palmer D


    <h3>Information Technology (IT)</h3>
    <h4>Contact</h4>
    (941)487-4350<br>
    <a href="mainto: it@ncf.edu">it@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    Palmer A 231


    <h3>Mail & Postal Services</h3>
    <h4>Contact</h4>
    (941)487-4247<br>
    <a href="mainto: mailroom@ncf.edu">mailroom@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    Palmer A 118


    <h3>Office of the Registrar</h3>
    <h4>Contact</h4>
    (941)487-4230<br>
    <a href="mainto: registrar@ncf.edu">registrar@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    Palmer D


    <h3>Parking Services</h3>
    <h4>Contact</h4>
    (941)487-4626<br>
    <a href="mainto: STARTCenter@ncf.edu">STARTCenter@ncf.edu</a><br>
    <br>
    <h4>Location</h4>
    Palmer D

</div>

<!-- PEI Campus -->
<div>
    <h2>PEI Campus</h2>

    <h3>Hamilton Center</h3>
    <h3>Fitness Center</h3>
    <h3>Physical Plant</h3> <!-- remove? -->
</div>

<!-- Caples Campus -->
<div>
    <h2>Caples Campus</h2>
    <h3>Caples Waterfront & Sail Club</h3>

    <h3>Campus Recreation</h3>

    <h2>Contact</h2>
    (941)487-4219<br>
    <a href="mailto: recreation@ncf.edu">recreation@ncf.edu</a><br>

    <h2>Location</h2>
    Caples Boathouse
</div>